<!DOCTYPE html>
<head>
	<title>Mission Bicylce</title>
	<link type="text/css" rel="stylesheet" href="../css/index.css"/>
	<link href="../vendor/jquery.bxslider.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="../vendor/popup.css"/>
	<script src="../vendor/jquery-1.11.2.min.js"></script>
	<script src="../vendor/jquery.bxslider.min.js"></script>
	<script src="../vendor/popup.js"></script>
	<script src="../javascript/sequence.js"></script>

</head>
<body>
	<div>
		<ul class="bxslider">
		</ul>
	</div>

	<div id="popup" class="white-popup mfp-hide">
  Popup content
</div>











</body>